-i https://pypi.org/simple
aiohttp==3.9.5; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
asciitree==0.3.3
attrs==24.2.0; python_version >= '3.7'
boto3==1.35.71; python_version >= '3.8'
botocore==1.35.71; python_version >= '3.8'
cachier==3.1.2
certifi==2024.8.30; python_version >= '3.6'
cftime==1.6.4.post1; python_version >= '3.8'
charset-normalizer==3.4.0; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cloudpickle==3.1.0; python_version >= '3.8'
copernicusmarine==1.3.5; python_version < '3.13' and python_version >= '3.9'
dask==2024.11.2; python_version >= '3.10'
fasteners==0.19; python_version >= '3.6'
frozenlist==1.5.0; python_version >= '3.8'
fsspec==2024.10.0; python_version >= '3.8'
geographiclib==2.0; python_version >= '3.7'
geopy==2.4.1; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
jmespath==1.0.1; python_version >= '3.7'
locket==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
lxml==5.3.0; python_version >= '3.6'
multidict==6.1.0; python_version >= '3.8'
nest-asyncio==1.6.0; python_version >= '3.5'
netcdf4==1.7.2; python_version >= '3.8'
numcodecs==0.14.1; python_version >= '3.11'
numpy==1.26.4; python_version >= '3.9'
packaging==24.2; python_version >= '3.8'
pandas==2.2.3; python_version >= '3.9'
partd==1.4.2; python_version >= '3.9'
portalocker==3.0.0; python_version >= '3.8'
propcache==0.2.0; python_version >= '3.8'
psycopg2==2.9.10; python_version >= '3.8'
pystac==1.11.0; python_version >= '3.10'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2024.2
pyyaml==6.0.2; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
s3transfer==0.10.4; python_version >= '3.8'
semver==3.0.2; python_version >= '3.7'
setuptools==75.6.0; python_version >= '3.9'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
toolz==1.0.0; python_version >= '3.8'
tqdm==4.67.1; python_version >= '3.7'
tzdata==2024.2; python_version >= '2'
urllib3==2.2.3; python_version >= '3.8'
watchdog==6.0.0; python_version >= '3.9'
xarray==2024.11.0; python_version >= '3.10'
yarl==1.18.0; python_version >= '3.9'
zarr==2.18.3; python_version >= '3.10'
